body {
    background-color: #FFDED4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;

}

header h1 { 
    text-align: center;
    color: #403835;
    font-size: 2rem;
}
header p {
    text-align: center;
    color: #403835;
}
.top p:nth-child(2) {
    color: green;
    
}
.formHolder {
    width: 100%;
    display: grid;
    text-align: center;
    justify-items: center;
}
form {
    display: grid;
    text-align: center;
    width: 300px;
    justify-items: center;
    grid-template-columns: 1fr 50px;
    justify-content: space-around;
    align-items: center;
    grid-gap: 8px;

}
form input {
    display: inline-block;
    border: #E6C8BE 2px solid;
    height: 30px;
    background-color: #BFA79F;
    color: #403835;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;



}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #403835;
  opacity: 1; /* Firefox */
}
form button {
    display: inline-block;
    border: #E6C8BE 2px solid;
    height: 36px;
    background-color: #806F6A;
    color: #E6C8BE;
    width: 100%;
    border-radius: 5px;

}
.radioHolder {
    display: grid;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
.radioGroup {
    text-align: center;
    border: 0;
    align-items: center;
    align-self:  center;
    margin-top: 5px;
    outline: 0;
    padding: 0;
    color: #403835;
    align-content: center;

 
}
input[type="radio"] {
    align-content: center;
    align-self: center;
    
}

.taskFeed {
    padding-top: 20px;
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.taskFeed li {
    background-color: #E6C8BE;
    display: grid;
    grid-template-areas: 'task delete';
    grid-template-columns: 2fr 1fr;
    border: #403835 3px solid;
    color: #403835;
    height: 30px;
    width: 300px;
    margin: 3px;
    align-items: center;
    transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

.taskFeed li:hover {
    background-color: #BFA79F;
}

.done {
    background-color: rgb(101, 238, 101) !important;
}
.task  {
    grid-area: task;
    grid-column-start: 1;

}
.delete {
    grid-area: delete;
    grid-column-start: -1;
    padding-right: 3px;

}
.delete:hover{
    color: #333;
    cursor: pointer;

}


/* Small devices (landscape phones, 576px and up) */

 @media (max-width: 330px) { 
    form  {

    width: 250px;
    }
 }

